a{
  target:"_blank"
  text-decoration:none; 
}
body {
  background:url(https://img.xjh.me/desktop/bg/acg/63093148_p0.jpg) fixed center;
  background-size:cover;
}
ul{
  top:0;
  position:fixed;
  width:100%;
  list-style-type:none;
  margin:0;
  padding:0;
  overflow:hidden;
  background-color:rgba(158,214,251,0.85);
}
li{
  float: left;
}
li a{
  display: inline-block;
  color: white;
  text-align: center;
  padding:25px 15px;
  text-decoration: none;
}
li a:hover{
  background-color:rgba(135,206,250,0.85);
}
footer{
  bottom:0;
  background-color:rgba(70,130,180,0.85);
  color:white;
  text-align:left;
  padding:20px;
  width:1860px;
  height:130px;
}
