a{
  target:"_blank"
  text-decoration:none; 
}
a:link{
	color:#3399FF;
}
a:visited{
	color:#3399FF;
}
a:hover{
	color:#FFFFFF;
}
a:active{
	color:#FFFFFF;
}
body {
  background:url(https://img.xjh.me/desktop/bg/acg/63093148_p0.jpg) fixed center;
  background-size:cover;
}

/*导航栏*/
.nav{
  top:0px;
  position:fixed;
  width:100%;
  background-color:rgba(158,214,251,0.85);
}
.nav ul{
  list-style-type:none;
  margin:0px;
  padding:0px;
  overflow:hidden;
}
.nav li{
  float:left;
}
.nav li a{
  display: inline-block;
  color: white;
  text-align: center;
  padding:25px 15px;
  text-decoration:none;
}
.nav li a:hover{
  background-color:rgba(135,206,250,0.85);
}
/*页脚*/
.footer{
  background-color:rgba(70,130,180,0.85);
  color:white;
  text-align:center;
  padding:20px;
  width:1860px;
  height:130px;
  float:right;
}
