.blog_show{
  background-color:rgba(255,255,255,0.85);
  box-shadow: 1px 1px 5px rgba(136,136,136,0.85);
  border-radius:5px;
  color:black;
  padding:30px;
  margin:30px;
  width:1150px;
  float:right;
}
