.side{
  background-color:rgba(240,248,255,0.95);
  border-radius:5px;
  color:black;
  text-align:center;
  width:475px;
  padding:20px;
  margin:30px 10px;
}
.side ul {
  padding: 20px;
  list-style-type: none;
}

.side li {
  border: 5px solid black;
  margin: -5px;
  padding: 20px;
}
